<%= form_for @ipblock, url: admin_hypervisors_path do |f| %>

  <% if @ipblock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ipblock.errors.count, "error") %> prohibited this hypervisor from being saved:</h2>
      <ul>
        <% @ipblock.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <p>
    <%= f.submit %>
  </p>

<% end %>
