body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #fff;
  color: #444;
}

.button-green {
  background-color: #398266;
}

.button-green:hover {
  background-color: #2d7362;
}

table.nodes {
  font-size: 18px;

  .node-name {

    a {
      color: #398266;
      font-weight: 600;
    }

    small {
      display: block;
      color: #7a7a7a;
    }
  }
}

.nav-admin {

  li {

    a {
      display: block;
      font-size: 18px;
      margin-bottom: 10px;

      span {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;

      }
    }
  }
}

.container {
  width: 1000px;
}

.app-header {
  width: 100%;
  height: 70px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.app-header .logo {
  display: block;
  font-size: 30px;
  color: #444444;
  text-transform: uppercase;
  font-weight: 900;
  margin: 17px 0 4px 0;
  float: left;
}

.app-header .nav-main {
  float: left;
  margin-left: 26px;
}

.app-header .nav-auth {
  float: right;
  padding-left: 10px;
}

.app-header .node-create {
  float: right;
  margin-right: 10px;
}

.app-header .nav li a {
  display: block;
  padding: 25px 0 20px 0;
  margin: 0 8px;
  font-size: 18px;
  border-bottom: 4px solid transparent;
  color: #444;
}

.app-header .nav li.active a {
  border-bottom: 2px solid #398266;
}

.app-content {
  margin-top: 40px;

  h1 {
    font-weight: 300;
    font-size: 36px;
    margin-top: 0;
  }
}

.node-header {
  background: #f1f1f1;
  padding: 20px;
  margin-bottom: 10px;
}

.app-nav {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;

  .nav.nav-hor {

    li {
      a {
        display: block;
        padding: 20px;
        color: #636363;
        border-bottom: 2px solid transparent;
      }

      a:hover {
        color: #303030;
      }

      a.active {
        border-bottom: 2px solid #398266;
      }
    }
  }
}
